<!doctype html>
    <head>
        <title>Faisal</title>
    </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <div class="form-group">
            <form method="POST" enctype='multipart/form-data' id="upload-form">
            {% csrf_token %}
            <tr><th></th><label for="id_Video"><b>Video</b></label></th><td><input type="file" name="Video" required id="id_Video" class='form-control'></td></tr><br>
            <tr><th><label for="id_Sub" ><b>Sub</b></label></th><td><input type="file" name="Sub" required id="id_Sub" class='form-control'></td></tr><br>
              <button type="submit" class="btn btn-primary">Upload</button>
            </form>
          </div>
        
    </body>
</html>
